.idle {
	animation: idle 5s ease-in-out infinite;
	transform-origin: bottom center;
}

@keyframes idle {
	0% {
		transform: scaleY(1.05) scaleX(1);
	}
	50% {
		transform: scaleY(1) scaleX(1.05);
	}
	100% {
		transform: scaleY(1.05) scaleX(1);
	}
}

.dance {
	animation: dance 1s ease-in-out infinite;
	transform-origin: bottom center;
}

@keyframes dance {
	0% {
		transform: skewX(5deg) scaleY(1.1);
	}
	25% {
		transform: scaleY(1);
	}
	50% {
		transform: skew(-5deg) scaleY(1.1);
	}
	75% {
		transform: scaleY(1);
	}
	100% {
		transform: skewX(5deg) scaleY(1.1);
	}
}

.jump {
	animation: jump 2s ease-in-out infinite;
	transform-origin: bottom center;
}

@keyframes jump {
	0% {
		transform: scaleY(1);
	}
	10%{
		transform: scaleY(0.9);
	}
	30%{
		transform: translateY(-50px) scaleY(1);
	}
	50% {
		transform: translateY(0) scaleY(1);
	}
}

.faint {
	animation: faint 3s ease-in-out infinite;
	transform-origin: right bottom;
}

@keyframes faint {
	0%{
		transform: rotateZ(0) scaleY(1);
	}
	40%{
		transform: rotateZ(0) scaleY(1);
	}
	50% {
		transform: rotateZ(45deg) scaleY(0.5);
	}
	95% {
		transform: rotateZ(0) scaleY(0);
	}
}