* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

.content {
	font-family: Consolas;
	background: linear-gradient(to bottom, #999, #EEE, #999);
	color: #F05A3F;
	position: relative;
	height: 100%;
}

h1 {
	position: absolute;
	text-align: center;
	top: 5px;
	left: 0;
	right: 0;
	text-shadow: #000 0 0 2px;
}

div.playground {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -120px;
	margin-left: -86px;
	width: 172px;
	height: 240px;
	border-bottom: 1px solid #000;
}

div.playground > img {
	width: 172px;
	height: 240px;
}

nav {
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
	text-align: center;
}

nav > button {
	padding: 5px;
	border-radius: 5px;
	min-width: 55px;
}